<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"><title>Author</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>Autor: Jorge Padilla</p>
	<img src="/images/jorge.jpg" width="75px" height="100px" alt="Jorge Padilla">
  </body>
</html>